@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: dark;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

@font-face {
  font-family: 'Digital-7';
  src: url('./assets/fonts/digital-7.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@keyframes backlightPulse {
  0% {
    opacity: 0.0;
  }

  100% {
    opacity: 0.3;
  }
}

.win-flash {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  height: 90%;
  /* Warm White Backlight (Acrylic Effect) */
  background-color: #f8f4d3;
  /* LemonChiffon */
  box-shadow: 0 0 20px 5px #f8edb07c, inset 0 0 40px rgba(255, 200, 0, 0.1);
  z-index: 0;
  /* Behind symbol */
  animation: backlightPulse 0.4s infinite alternate ease-in-out;
  pointer-events: none;
  border-radius: 10px;
  /* Matches strip shape */
}

.symbol-item {
  position: relative;
  z-index: 1;
}